<!DOCTYPE html>
<html>
<head>
  <title>Prompts</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .table-container {
      width: 80%;
    }
    th {
      background-color: #f8f9fa;
      border-color: #dee2e6;
      text-align: center;
      font-weight: bold;
    }
    td {
      vertical-align: middle;
      text-align: center;
    }
    .table-striped tbody tr:nth-of-type(odd) {
      background-color: #f3f4f6;
    }
  </style>
</head>
<body>
  <%- include('Navbar.ejs') %>
  <div class="table-container">
    <br>
      <h3 class="text-center">EMAILS</h3>
      <br>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Organisation ID</th>
            <th scope="col">email</th>
            <th scope="col">Email Subject</th>
            <th scope="col">Email Body</th>
            <th scope="col">Delivered</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>

          <% for (let i = 0; i < data.length; i++) { %>
            <tr>
                <th scope="row"><%= i+1 %></th>
              <td><%= data[i].organisationInfo %></td>
              <td><%= data[i].email %></td>
              <td><%= data[i].emailSubject %></td>
              <td><%= data[i].emailBody.substring(0, 150) %></td>
              <td><%= data[i]?.emailSent %></td>
              <td><a href="/email/<%= data[i]._id %>/frontend">Details</a></td>
            </tr>
          <% } %>
  
        </tbody>
      </table>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
